html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  *{
    padding: 0;
    margin: 0;
  }
  a {
    display: block;
    text-decoration: none;
    color: black;
  } 
  .container {
    width: 1110px;
    margin: 0 auto;
   }
   .clearfix::after {
    display: table;
    content: '';
    clear: both;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
      .site-logo {
        float: left;
    }
    nav {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 800;
        line-height: 32px;
        padding: 40px 0;
        padding-bottom: 110px;
        text-transform: uppercase;
      }
      .site-navigation{
        float: right;
      }
      .site-navigation li:last-child{
        margin-right: 0px;
      }
         .site-navigation li{
           float:left;
           list-style: none;
           margin-right: 35px;   
         }
         .site-navigation a:hover{
          color: #03a9f4;
         }
.slider{
  position: relative;
  padding-bottom: 100px;
  
}
.slider-ctrl{
   top: 50%; 
  transform: translateY(-50%); 
  position: absolute;
  border: none;
  display: inline-block;
  background-color: rgb(26, 188, 156);
  width: 104px;
  height: 104px;
}
ul{
  list-style: none;
}
.slider-ctrl-prew {
left: 0;
background-image: url(../img/sliser\ left.jpg);
}
.slider-ctrl-next {
right: 0;
background-image: url(../img/sliser\ right.jpg);
}
.btn-wrappper {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-description{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.slider-title{
  font-weight: 700;
  font-size: 60px ;
  line-height: 82px;
}
.slider-p{
font-weight: 300;
font-size: 24px;
line-height: 54px;
}
.title {
  color: #515151;
  font-size: 48px;
  font-weight:800;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}
.title::after{
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 160px;
  height: 5px;
  background-color: #1abc9c;
  content: '';
}
.cards-item {
  float: left;
  margin-right: 30px;
}
.cards-item:last-child{
margin-right: 0px;
}
.item {
  float: left;
  height: 40px;
  width: 200px;
  color: #fff;
  background-color: #323232;
  text-align: center;
  text-transform: uppercase;
  padding-top:6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
.price {
  color: #fff;
  background-color: #8c8c8c;
  float: left;
  height: 40px;
  width: 55px;
text-align: center;
text-transform: uppercase;
padding-top: 14px;
}
.cards-item:hover .item{
  background-color:  #1abc9c;
}
.cards-item:hover .price {
  background-color:#1abc9c ;
}
.image-wrapper{
  position: relative;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  right: 0;
  position: absolute;
  width: 250px;
  height: 100%;
}