.footer {
  padding-bottom: 24px;
  padding-top: 30px;
  justify-content: space-between;
  display: flex;

  &__description{
    font-size: 14px;
    font-family: $main-font;
  }

  &__link{
    color: #f38181;
    display: inline-block;
  }

  &__button{
    text-transform: uppercase;
    color: $main-color;
    font-weight: 700;
    font-size: 14px;
    font-family: $main-font;
    background-color: #95e1d3;
    height: 40px;
    width: 150px;
  }
}

.form-wrapper {
  display: flex;
}

.form__style {
  padding: 5px;
  line-height: 24px;
  font-size: 15px;
  font-family: $main-font-third;
  height: 40px;
  width: 226px;
}
