.our-team__description {
  margin-bottom: 94px;
  text-align: center;
  color: #999999;
  line-height: 24px;
  font-size: 15px;
  font-family: $main-font-third;
}

/* CARDs */

.cards {
  padding-bottom: 86px;
  justify-content: space-between;
  display: flex;

  &__item {
    text-align: center;
    margin: 0px;
 
    &:hover .overlay{
      transition: all 200ms linear;
      box-shadow: 8px 10px 0px 1px rgb(149, 225, 211);
      transform: translate(-2%, -2%);
      visibility: visible;
    }
 
  }

  &__image {
    margin-bottom: 30px;
  }

  &__name {
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #333333;
    font-size: 14px;
    font-family: $main-font;
  }

  &__position {
    font-weight: 300;
    color: $text-color;
    line-height: 24px;
    font-size: 15px;
    font-family: $main-font-third;
  }

}

.image-wrapper {
  position: relative;
}

.overlay {
  visibility: hidden;
  opacity: 0.9;
  left: 0px;
  top: 0px;
  position: absolute;
  background-image: -webkit-linear-gradient(90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
  width: 380px;
  height: 470px;

  &__list{
    height: 470px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
  
    &_item svg{
      fill: #f38181;
      width: 26px;
      height: 22px;
      
      &:hover{
        fill: $main-color;
      }
    
    }
  
    &_link{
      background-color: rgb(252, 227, 138);
      align-items: center;
      justify-content: center;
      display: flex;
      width: 56px;
      height: 56px;
      border: 1px solid #ffffff;
   
      &:hover{
        background-color: #f38181;
      }
   
    }

  }

}

.overlay__list_link:hover .overlay__list_icon {
  fill: $main-color;
}
